<main>
    <div class="container">
      <div class="row">
        <h1>Administrar Usuarios</h1>
        <table>
          <thead>
            <tr>
              <th data-field="id">Usuario</th>
              <th data-field="name">Nombre</th>
              <th data-field="price">Apellido</th>
              <th data-field="price">Estado</th>
              <th data-field="price">Operaciones</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor='let user of usuarios'>
              <td>{{user.username}}</td>
              <td>{{user.nombre}}</td>
              <td>{{user.apellido}}</td>
              <td>{{user.habilitado}}</td>
              <td>
                <a (click)="cambiarEstado(user)" *ngIf="user.habilitado" title="Deshabilitar"
                  class="btn-floating red"><i class="material-icons">close</i>
                </a>
                <a (click)="cambiarEstado(user)" *ngIf="!user.habilitado" title="Habilitar"
                  class="btn-floating green"><i class="material-icons">check</i>
                </a>
                <a [routerLink]="['/usuario', user.id]"  title="Ver Perfil"
                  class="btn-floating blue" style="margin: 0 5px"><i class="material-icons">visibility</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
