<main class="valign-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s6 offset-s3">
          <div class="card">
            <div class="card-content">
              
              <form (ngSubmit)="onSubmit(usuarioForm);" #usuarioForm="ngForm"> 

                <h5 class="center-align">Registrate</h5>

                <div class="input-field">
                  <label for="username">Nombre de usuario</label>
                  <input  [(ngModel)]="usuario.username" type="text" id="username" name="username">
                </div>

                <div class="input-field">
                    <label for="password">Contraseña</label>
                    <input  [(ngModel)]="usuario.password" type="password" id="password" name="password" >
                </div>

                <div class="input-field">
                  <label for="nombre">Nombre</label>
                  <input [(ngModel)]="usuario.nombre" type="text" id="nombre" name="nombre">
                </div>

                <div class="input-field">
                  <label for="apellido">Apellido</label>
                  <input [(ngModel)]="usuario.apellido" type="text" id="apellido" name="apellido">
                </div>

                <div class="input-field">
                  <label for="dni">DNI</label>
                  <input [(ngModel)]="usuario.dni" type="text" id="dni" name="dni">
                </div>

                <div class="input-field">
                  <label for="domicilio">Domicilio</label>
                  <input [(ngModel)]="usuario.domicilio" type="text" id="domicilio" name="domicilio">
                </div>

                <div class="">
                  <label>Genero</label>
                  <select id="genero" name="genero" class="browser-default" [(ngModel)]="usuario.genero">
                    <option value="" disabled selected>Elija un género</option>
                    <option value="Masculino">M</option>
                    <option value="Femenino">F</option>
                  </select>
                </div>

                <div class="input-field">
                  <label for="email">Correo electronico</label>
                  <input [(ngModel)]="usuario.email" type="email" id="email" name="email">
                </div>

                <div class="input-field center">
                  <button [disabled]="!usuarioForm.form.valid" class="btn">Registrarse</button>
                </div>
              </form>
              <p class="green-text center-align"><b>{{msj}}</b></p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
