body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.container{
  width: 95%;
  max-width: 1440px;
}

.collapsible{
  box-shadow: none;
}

.collapsible-body{
  padding: 10px 25px;
}

.no-margin{
  margin: 0;
}

.no-padding{
  padding: 0;
}
