<nav>
    <div class="nav-wrapper blue">
        <a href="/" class="brand-logo">{{ title }}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <!-- <li><a routerLink="/">Inicio Admin</a></li>
            <li><a routerLink="/iniciousuario">Inicio Usuario</a></li>
            <li><a routerLink="/registro">Registrate</a></li> -->
            <li><a (click)="cerrar()">Cerrar Sesión</a></li>
            <li ><a routerLink="">Iniciar Sesión</a></li>
        </ul>
    </div>
</nav>
<main>
    <div class="container">
        <div class="row">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>



