<main class="valign-wrapper">
    <div class="container">
      <div class="row">
        <h1 class="center-align">Rute.Ar</h1>
        <div class="col s12 center">
          <h5>Usuarios</h5>
          <ul>
            <li>
              <a href="#">Nueva ruta</a>
            </li>
            <li>
              <a href="#">Mis Rutas</a>
            </li>
            <li>
              <a href="#">Buscar ruta</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>