<main class="valign-wrapper">
  <div class="container">
    <div class="row">
      <div class="col s6 offset-s3">
        <div class="card">
          <div class="card-content">
            <form (ngSubmit)="onSubmit(loginForm);" #loginForm="ngForm">

            <h5 class="center-align">Iniciar Sesión</h5>
            <div class="input-field">
              <label for="username">Nombre de usuario</label>
              <input [(ngModel)]="username" type="text" name="username" id="username">
            </div>
            <div class="input-field">
              <label for="passwd">Contraseña</label>
              <input [(ngModel)]="password" type="text" name="passwd" id="passwd">
            </div>
            <div class="input-field center">
              <button [disabled]="!loginForm.form.valid" class="btn">Ingresar</button>
            </div>
          </form>
          <p class="red-text center-align"><b>{{msj}}</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>