<main class="valign-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s6 offset-s3">
          <div class="card">
            <div class="card-content">
             
              <div class="row">
                <h5 class="center-align">Detalle del usuario</h5>

                <div class="col s6">
                  <label>Nombre de usuario</label>
                  <p>{{usuario.username}}</p>
                </div>

                <div class="col s6">
                  <label>Nombre</label>
                  <p>{{usuario.nombre}}</p>
                </div>

                <div class="col s6">
                  <label>Apellido</label>
                  <p>{{usuario.apellido}}</p>
                </div>

                <div class="col s6">
                  <label>DNI</label>
                  <p>{{usuario.dni}}</p>
                </div>

                <div class="col s6">
                  <label>Domicilio</label>
                  <p>{{usuario.domicilio}}</p>
                </div>

                <div class="col s6">
                  <label>Sexo</label>
                  <p>{{usuario.sexo}}</p>
                </div>

                <div class="col s6">
                  <label>Correo electronico</label>
                  <p>{{usuario.email}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>